body {
  background-image: url("../media/back.jpg");
}

header {
  background-color: rgb(136, 4, 4);
  font-family: "Black Ops One";
}

.imgLogo {
  height: 50px;
  width: 120px;
  /**grid-area: logo;**/
}

/**#logIn{
    text-align: right;
}

#logIn a{
    color: black;
    font-family: 'Black Ops One';
}

#logIn a:hover{
    color: aliceblue;
}**/
/**#navBar{
    display: flex;
    justify-content: space-around;
    grid-area: nav;
}

#navBar li{
    list-style: none;
    padding-bottom: 20px;
}

#navBar li a{
    text-decoration: none;
    color: black;
}

#navBar li a:hover{
    color: aliceblue;
}**/
.sectionIndex {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "h1" "p" "video";
  background-color: rgb(97, 3, 3);
}

.sectionIndex h1 {
  display: flex;
  justify-content: center;
  height: 100px;
  padding-top: 30px;
  color: black;
  font-family: "Black Ops One";
  grid-area: h1;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

p {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;
  font-family: "Bebas Neue";
  font-weight: bold;
  grid-area: p;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  color: black;
  line-height: 2;
}

/**img{
    width: 100%;
}**/
/*.sectionIndex article p{
    padding-bottom: 20px;
    font-family: 'Bebas Neue'
}*/
#introVideo {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  grid-area: video;
}

#foot {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  background-color: rgb(97, 3, 3);
  height: 50px;
  font-family: "Black Ops One";
}

#foot ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-bottom: 30px;
}

#foot li a {
  color: black;
  text-decoration: none;
}
#foot li a:hover {
  color: aliceblue;
}

/*#foot a:hover{
    color: aliceblue;
}*/
#sectionRazas {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "sectionH1" "razasMenu" "razas";
  background-color: rgb(97, 3, 3);
}

#razas {
  grid-area: razas;
}

#razasMenu {
  padding-top: 30px;
  list-style: upper-roman;
  font-family: "Black Ops One";
  grid-area: razasMenu;
}

#razasMenu li a {
  text-decoration: none;
  color: black;
}

#sectionRazas h1 {
  display: flex;
  padding-top: 50px;
  justify-content: center;
  font-family: "Black Ops One";
  color: black;
}

#razasMenu li a:hover {
  color: aliceblue;
}

#sectionRazas h2, #sectionRazas #sectionBooks h3, #sectionBooks #sectionRazas h3, #sectionRazas #sectionBooks h1, #sectionBooks #sectionRazas h1, #sectionRazas #legiones th, #legiones #sectionRazas th {
  padding-top: 20px;
  text-align: center;
  font-family: "Black Ops One";
  text-decoration: overline;
}

#imgRazas {
  height: 455px;
  width: 728px;
}

.imgCenter {
  display: flex;
  justify-content: center;
}

#sectionMarines, #sectionBooks h3, #sectionBooks h1, #legiones th {
  background-color: rgb(97, 3, 3);
}

#sectionMarines h1, #sectionBooks h3 h1, #sectionBooks h1 h1, #legiones th h1 {
  padding-top: 50px;
  text-align: center;
  font-family: "Black Ops One";
  color: black;
}

#sectionMarines h2, #sectionMarines #sectionBooks h3, #sectionBooks #sectionMarines h3, #sectionBooks h3 h2, #sectionBooks h3 h3, #sectionMarines #sectionBooks h1, #sectionBooks #sectionMarines h1, #sectionBooks h3 h1, #sectionBooks h1 h2, #sectionBooks h1 h3, #sectionBooks h1 h1, #sectionMarines #legiones th, #sectionBooks h3 #legiones th, #sectionBooks h1 #legiones th, #legiones #sectionMarines th, #legiones #sectionBooks h3 th, #sectionBooks #legiones h3 th, #legiones #sectionBooks h1 th, #sectionBooks #legiones h1 th, #legiones th h2, #legiones th #sectionBooks h3, #sectionBooks #legiones th h3, #legiones th #sectionBooks h1, #sectionBooks #legiones th h1, #legiones th th {
  font-family: "Black Ops One";
  color: black;
}

#legiones {
  padding-bottom: 20px;
}

#legiones td {
  font-family: "Bebas Neue";
  color: black;
}

#depurado {
  text-decoration: line-through;
}

#sectionBooks {
  background-color: rgb(97, 3, 3);
}

#sectionBooks h1 {
  padding-top: 20px;
  text-align: center;
}

#sectionBooks h3 {
  padding-bottom: 30px;
}

#bookList {
  padding-top: 20px;
  font-family: "Black Ops One";
}

#bookList a {
  color: black;
  text-decoration: none;
}

#bookList a:hover {
  color: aliceblue;
}

.imgBooks {
  display: flex;
  justify-content: flex-start;
  width: 30%;
}

.cardCenter {
  display: flex;
  justify-content: center;
}

#sectionEmperador {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "empH1" "empIntro" "empMenu" "empSection";
  background-color: rgb(97, 3, 3);
}

.imgRight {
  float: right;
}

.imgLeft {
  float: left;
}

#empSection {
  color: black;
  font-family: "Bebas Neue";
  font-weight: bold;
  line-height: 2;
}

#sectionEmperador h1 {
  text-align: center;
  padding-top: 20px;
  font-family: "Black Ops One";
  color: black;
  grid-area: empH1;
}

#emperador {
  display: flex;
  justify-content: center;
  grid-area: empIntro;
  padding-top: 30px;
}

#empMenu {
  display: flex;
  justify-content: flex-start;
  font-family: "Black Ops One";
  padding-top: 30px;
  grid-area: empMenu;
  color: black;
}

#empMenu ul {
  list-style: upper-roman;
}

#empMenu li a {
  text-decoration: none;
  color: black;
}
#empMenu li a:hover {
  color: aliceblue;
}

#empSection h2, #empSection #legiones th, #legiones #empSection th, #empSection #sectionBooks h1, #sectionBooks #empSection h1, #empSection #sectionBooks h3, #sectionBooks #empSection h3 {
  display: flex;
  justify-content: center;
  font-family: "Black Ops One";
  color: black;
  padding-bottom: 20px;
  padding-top: 30px;
}

#sectionRegistro {
  background-color: rgb(97, 3, 3);
}

#sectionRegistro h1, h2, #legiones th, #sectionBooks h1, #sectionBooks h3, h3 {
  text-align: center;
  font-family: "Black Ops One";
  color: black;
}

#formulario {
  font-family: "Bebas Neue";
  color: black;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.5);
}

.animate__rotateOutDownLeft {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@media screen and (min-width: 320px) {
  /**header{
     font-size: 25px;
     height: 160px;
     padding-bottom: 80px;
  }**/
  p {
    justify-content: center;
    font-size: 20px;
  }
  .sectionIndex h1 {
    justify-content: flex-start;
  }
  #introVideo {
    justify-content: flex-start;
  }
  /**img{
      width: 50%;
      justify-content: flex-start;
  }**/
}
@media screen and (min-width: 768px) {
  header {
    height: 130px;
    font-size: 14px;
    padding-bottom: 20px;
  }
  .sectionIndex h1 {
    justify-content: center;
  }
  p {
    font-size: 16px;
  }
  #introVideo {
    justify-content: center;
  }
  /**img{
      width: 96%;
      justify-content: center;
  }**/
}/*# sourceMappingURL=style.css.map */